
.dark {
  color: #333!important;
}
.white {
  color: #fff!important;
}
.red {
  color: #dd5a43!important;
}
.light-red {
  color: #f77!important;
}
.blue {
  color: #478fca;
}
.light-blue {
  color: #93cbf9!important;
}
.green {
  color: #69aa46;
}
.light-green {
  color: #b0d877!important;
}
.plus {
  color: #9B0BDF;
}
.orange {
  color: #ff892a!important;
}
.orange2 {
  color: #feb902!important;
}
.light-orange {
  color: #fcac6f!important;
}
.purple {
  color: #a069c3!important;
}
.pink {
  color: #c6699f!important;
}
.pink2 {
  color: #d6487e!important;
}
.brown {
  color: #a52a2a!important;
}
.grey {
  color: #777!important;
}
.light-grey {
  color: #bbb!important;
}
.bigger-110 {
  font-size: 110%
}
.bigger-120 {
  font-size: 120%
}
.bigger-130 {
  font-size: 130%
}
.bigger-140 {
  font-size: 140%
}
.bigger-150 {
  font-size: 150%
}
.bigger-160 {
  font-size: 160%
}
.bigger-170 {
  font-size: 170%
}
.bigger-180 {
  font-size: 180%
}
.bigger-190 {
  font-size: 190%
}
.bigger-200 {
  font-size: 200%
}
.bigger-210 {
  font-size: 210%
}
.bigger-220 {
  font-size: 220%
}
.bigger-230 {
  font-size: 230%
}
.bigger-240 {
  font-size: 240%
}
.bigger-250 {
  font-size: 250%
}
.bigger-260 {
  font-size: 260%
}
.bigger-270 {
  font-size: 270%
}
.bigger-280 {
  font-size: 280%
}
.bigger-290 {
  font-size: 290%
}
.bigger-300 {
  font-size: 300%
}
.bigger-125 {
  font-size: 125%
}
.bigger-175 {
  font-size: 175%
}
.bigger-225 {
  font-size: 225%
}
.bigger-275 {
  font-size: 275%
}
.smaller-90 {
  font-size: 90%
}
.smaller-80 {
  font-size: 80%
}
.smaller-70 {
  font-size: 70%
}
.smaller-60 {
  font-size: 60%
}
.smaller-50 {
  font-size: 50%
}
.smaller-40 {
  font-size: 40%
}
.smaller-30 {
  font-size: 30%
}
.smaller-20 {
  font-size: 20%
}
.smaller-75 {
  font-size: 75%
}
